* {
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
}

ol, 
ul, 
li {
    list-style: none;
    display: block;
}
  
table {
    border-collapse: collapse;
    border-spacing: 0;
}
  
a img {
    border: none;
}
  
button, 
a {
    cursor: pointer; 
    color: inherit;
}
  
textarea {
    resize: none;
}

/* CSS-Reset end */

body {
    font-family: 'Varela Round', sans-serif;
}

#root {
    position: relative;
    width: 40vw;
    margin: 20px;
    padding: 30px;
        
    background-color: whitesmoke;
    border: 1px solid turquoise;
    border-radius: 5%;
    box-shadow: 5px 5px lightgrey;
}

#registration {
    font-size: 25px;
    font-weight: 500;
}

form {
    margin: 30px;
    font-size: 20px;
    font-weight: 400;
}

form div {
    margin-top: 20px;
}

input#firstName, input#profilePicture, input#personalEmail {
    width: 70%;
    margin: 10px 10px 10px 40px;
    padding: 10px;

    background-color: rgb(221, 233, 232);
    border: 1px solid rgb(163, 235, 227);
    border-radius: 5px;

    font-size:  20px;
}

input#profilePicture {
    font-size: 15px;
}

input#newsletter, input#terms {
   transform: scale(1.3);
}

label[for="newsletter"], label[for="terms"] {
    padding-left: 10px;
    font-size: 15px;
    color: rgb(80, 79, 79);
}

label[for="where"] {
    font-size: 15px;
    color: rgb(80, 79, 79);
}

select {
    width: 70%;
    margin: 10px 10px 10px 40px;
    padding: 5px;

    background-color: rgb(221, 233, 232);
    border: 1px solid rgb(163, 235, 227);
    border-radius: 5px;

    font-size:  15px;
    color: rgb(80, 79, 79);
}

button {
    width: 70px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

    background-color: rgb(199, 224, 222);
    border: 1px solid rgb(163, 235, 227);
    border-radius: 5px;
    box-shadow: 3px 3px lightgrey;

    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.required {
    font-size:  15px;
    color: rgb(80, 79, 79);
}

